<main role="main" class="row">
	<article class="col span_16">

		{% if page.type == 'photo' %}
			{{ content }}
		{% else %}

			<h1>
				<a href='{{ page.url }}'>{{ page.title }}</a>
			</h1>

			{{ content }}

		{% endif %}

	</article>
</main>

{% if page.path contains 'writing' and page.title != 'Writing' %}

	<footer class="row">
	  <a href="../">Writing</a>
	</footer>

{% endif %}

{% if page.path contains 'travel' and page.title != 'Travel' %}

	<footer class="row">
	  <a href="../">Travel</a>
	</footer>

{% endif %}
