---
title: Work
layout: default
---

<main role="main" class="row">

  
  <div class="index">
    <div class="title">
      <h1 class="center">
        <a href="adp.pdf">ADP</a>
      </h1>
      <div class="description">
        Senior UX Designer
      </div>
    </div>

    <div class="index">
      <p class="center">
        Designing a unified and extensible system for payroll. 
      </p>
      <div class="description">
        <a href="adp.pdf">See Case Study</a>
      </div>
    </div>

<hr class="alt" />

  <div class="index">
    <div class="title">
      <h1 class="center">
        <a href="urbanstems/case-study">UrbanStems</a>
      </h1>
      <div class="description">
        Product Designer
      </div>
    </div>

    <div class="index">
      <p class="center">
        Creating a flower subscription service and establishing a new revenue stream in the process.
      </p>
      <div class="description">
        <a href="urbanstems/case-study">See Case Study</a>
      </div>
    </div>

    <div>
      <p class="center">
        Prototyping a new storefront search and filter experience.
      </p>
      <div class="description">
        <a href="urbanstems/concept">See Concept</a>
      </div>
    <div>
  </div>

<hr class="alt" />

<div class="secondary-index">
  <div class="description">
    Client Work
  </div>
</div>

{% for work in site.pages reversed %}
 {% if work.path contains 'work' and work.title != 'Work' %}
  {% if work.title != 'UrbanStems' and work.title != 'ADP' %}

    <div class="index">
      <h1 class="center">
        <a href='{{ work.url }}'>{{ work.title }}</a>
      </h1>
      <div class="description">
        {{ work.description }}
      </div>
    </div>

    {% endif %}
  {% endif %}
{% endfor %}


<!--
  {% for work in site.work %}
    {% if work.page.index != 'secondary' %}

      <div class="work-index">
        <h1>
            <a href='{{ work.url }}'>{{ work.title }}</a>
          </h1>
      </div>

    {% endif %}
  {% endfor %}

  <hr class="alt" />
  <div class="secondary-index">

  {% for work in site.work %}
    {% if work.page.index == 'secondary' %}

    <h3><a href='{{ work.url }}'>{{ work.title }}</a></h3>

    {% endif %}
  {% endfor %}

  </div>
-->

</main>
